
/* #DC952F #371821 */

.checkout-page-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Checkout Page Content */

.checkout-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 15px;
}


.checkout-content-container .checkout-header{
    color: #371821;
    font-size: 28px;
    letter-spacing: 2px;
}

.checkout-content-container p{
    margin: 0
}

.checkout-content-container .section{
    color: #DC952F;
    font-size: 29px;
    letter-spacing: .5px;
    margin-bottom: 15px;
}

.checkout-content-container .divider{
    width : 450px;
}

/* Form */

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container .input-box{
    text-align: center;
    margin: 5px;
    width: 270px;
}

/* Service */

.service-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container{
    display: flex;
    gap: 25px;
}

.button-container .btn{
    background-color: #FFF;
    color: #371821;
    border: 1px solid #371821;
    border-radius: 5px;
    font-size: 17.5px;
    padding: 9px;
    transition: background-color .3s;
    transition: color .3s;
}

.button-container .btn:hover{
    cursor: pointer;
    background-color: #371821;
    color: #FFF;
    border: 1px solid #371821;
}

.button-container .clicked-btn{
    background-color: #371821;
    color: #FFF;
    border: 1px solid #371821;
    border-radius: 5px;
    font-size: 17.5px;
    padding: 9px;
    transition: background-color .3s;
    transition: color .3s;
}

.button-container .clicked-btn:hover{
    cursor: pointer;
}

/* Payment */

.payment-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.payment-form .input-box{
    text-align: center;
}

.payment-form .payment-method-letterhead{
    color: #371821;
    font-size: 17px;
    margin-bottom: 10px;
}

/* Place Order */

.place-order{
    background-color:#DC952F;
    color:#371821;
    font-size: 20px;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #371821;
    border-radius: 5px;
}

.place-order:hover{
    cursor: pointer;
    background-color:#371821;
    color:#DC952F;
    font-size: 20px;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #371821;
    border-radius: 5px;
}

