.view-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.item-view-container{
    margin: 150px 0;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
}

/*  Navbar */

.item-view-navbar{
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}


.shopping-bag-container{
    position: relative;
    margin-left: auto;
    margin-right: 20px ;
}

.shopping-bag-container span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #371821;
    font-size: 50px;
}

.shopping-bag-container .items-number{
    position: absolute;
    color: #DC952F;
    z-index: 1;
    font-size: 15px;
    left: 50%; 
    top: 59%; 
    transform: translate(-50%, -50%); 
}

.back-btn-container{
    color: #371821;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 20px 20px;
    padding: 10px;
    width: 100px;
    font-size: 20px;
    border: 1px solid #371821;
    border-radius: 3px;
    text-decoration: none;
    gap: 5px;
    transition: background-color .3s;
    transition: color .3s;
}

.back-btn-container:hover{
    background-color: #371821;
    color: #FFF;
}


/* Card */

.item-view-card{
    display: flex;
    gap: 50px;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
}

/* Image */

.item-view-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.item-view-image{
    background-color: #37182106;
    width: 520px;
    height: 600px;
    box-shadow: 5px 5px 5px 5px #bfb9b9;
    border-radius: 4px;
    margin-top: 10px;
}

/* Header Price */

.header-price-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    color:#371821;
    font-size: 27px;
    margin: 0;
}

.item-view-card-header{
    margin: 0
}

.item-price {
    margin: 0;
    font-size: 15px;
    color:#6b6868;
    padding: 0;
}

/* Information */

.item-view-information-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.tag{
    color: #371821;
}

/* Body */

.item-view-card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    margin-top: 18px;
    height: 1px;
    width: 400px;
    border-top: 1px solid #bfb9b9; 
  }

.tag{
    text-align: center;
    color:#371821;
    font-size: 20px;
}

.content{
    color:#000000;
}

/* Quantity */

.quantity{
    display: flex;
    align-items: center;
    gap: 20px;
}

.quantity p{
    margin: 0;
}

.quantity span{
    border: 2px solid #000000;
    transition: background-color .3s;
}

.quantity span:hover{
    cursor: pointer;
    background-color: #f0f0f0;
    border: 2px solid #000000
}


/* Size */

.size-container{
    display: flex;
    gap: 20px;
}

.size-price-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    border: 1px solid #371821;
    border-radius: 5px;
    gap: 3px;
    transition: border .3s;
}

.size-price-card-clicked {
    border: 1px solid #DC952F;
    transform: scale(1.1);
    transition: transform .1s;
}

.size-price-card p{
  margin: 0;
}

.size-price{
    font-size: 14px;
    color: #6b6868
}

.size-price-card p:hover{
    cursor: pointer; 
}

 /* Additional Instructions */

 .additional-instructions{
    border-radius: 5px;
}

 /* Add Item */

 .add-item-btn{
    background-color:#371821;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 25px;
    width: 200px;
    height: 47px ;
    gap: 5px;
    border: none;
    border-radius: 5px;
    transition: color .3s;
}

.add-item-btn:disabled{
    
    background-color:#FFF;
    color: #371821;
    border: 1px solid #371821;
}

 .add-item-btn:hover{
    cursor: pointer;
    background-color:#FFF;
    color: #371821;
    border: 1px solid #371821;
}

.add-item-btn:disabled:hover{
    cursor: not-allowed;
}


/* Media Queries */

@media (max-width: 1050px){

    .item-view-navbar{
        padding: 20px 0;
    }

    .shopping-bag-container span{
        font-size: 45px;
    }
    
    .shopping-bag-container .items-number{
        font-size: 15px; 
        top: 61%; 
    }

    .back-btn-container{
        margin: 0 0 0 20px;
    }

    .item-view-card{
       flex-direction: column;
       gap: 0;
    }

    .item-view-image{
        width: 440px;
        height: 520px;
        margin-bottom: 15px;
        box-shadow: none
    }

    .header-price-container{
        gap: 5px;
        font-size: 21px;
    }

    .item-price {
        font-size: 14px;
    }

    .tag{
        margin-top: 0;
        font-size: 19px;
    }
   
    .content{
        max-width: 430px;
        font-size: 16.5px;
        text-align: center;
    }

    .divider{
        margin-bottom: 10px;
    }

    .size-price{
        font-size: 13px;
    }
   
}

@media (max-width: 850px){

    .shopping-bag-container span{
        font-size: 45px;
    }
    
    .shopping-bag-container .items-number{
        font-size: 15px; 
        top: 61%; 
    }

    .item-view-image{
        width: 440px;
        height: 520px;
        margin-bottom: 15px;
    }

    .header-price-container{
        gap: 5px;
        font-size: 19.5px;
    }

    .item-price {
        font-size: 13.5px;
    }

    .tag{
        font-size: 18.5px;
    }

    .content{
        max-width: 410px;
        font-size: 15.7px;
        text-align: center;
    }

    .size-price-card{
        padding: 5px 12px;
        gap: 3px;
        
    }

    .size-price-card p{
      font-size: 15.7px;
    }

    .size-price-card .size-price{
        font-size: 12px;
       
    }
}


@media (max-width: 550px){

    .shopping-bag-container span{
        font-size: 39px;
    }
    
    .shopping-bag-container .items-number{
        font-size: 13.5px; 
        top: 60%; 
    }

    .back-btn-container{
        padding: 5px;
        width: 70px;
        font-size: 17px;
    }

    .item-view-image{
        width: 370px;
        height: 430px;
        margin-bottom: 15px;
    }

    .header-price-container{
        gap: 2px;
        font-size: 19px;
    }

    .item-price {
        font-size: 14px;
    }

    .tag{
        font-size: 18px;
    }
   
    .content{
        max-width: 350px;
        font-size: 15.5px;
        text-align: center;
    }

    .size-container p{
        padding: 4px;
        font-size: 15px;
    }

    .divider {
        width: 380px;
    }
    
    .additional-instructions{
        width: 270px;
        height: 40px;
    }

    .size-price-card{
        padding: 3px 8px;
        gap: 0
    }

    .size-price-card p{
      font-size: 15.5px;
    }

    .size-price-card .size-price{
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    
    .back-btn-container{
        margin: 20px auto 0 20px;
        padding: 7px;
        width: 75px;
        font-size: 19px;
        gap: 3px;
    }

    .item-view-image{
        width: 350px;
        height: 420px;
        margin-bottom: 8px;
        box-shadow: none;
    }

    .header-price-container{
        gap: 2px;
        font-size: 17px;
    }

    .item-price {
        font-size: 13px;
    }

    .tag{
        margin-top: 0;
        font-size: 17px;
    }
   
    .content{
        max-width: 340px;
        font-size: 14px;
    }

    .divider {
       width: 315px;
    }
    
    .additional-instructions{
        width: 250px;
        height: 40px;
    }

    .size-price-card{
        padding: 1px 6px;
        gap: 0
    }

    .size-price-card p{
      font-size: 14px;
    }

    .size-price-card .size-price{
        font-size: 11px;
    }
}

