/* #DC952F #371821 */
.orders-page-container{
    height: 100vh
}

/* Content */

.orders-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}

/* Card */

.order-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-card p{
    margin: 0
}

.order-card-date{
    color: #371821;
    font-size: 15px;
    text-align: right;
}

.order-card-user-name{
    font-size: 15px;
    color: #9d9b9b;
}

.items-names-components{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-price-container{
    display: flex;
    align-items: center; 
    color: #371821;
}

.items-names-components .order-card-item-name{
    font-size: 20px;
}

.name-price-container .price-quantity-tag, .order-total{
    font-size: 15px;
    margin-left: auto
}

.items-names-components .order-card-item-components{
    color: #333;
    min-width: 467px;
    font-size: 15px;
}

.order-total{
    color:#371821;
    text-align: center;
}

.orders-cards-container button{
    background-color: #FFF;
    color: #371821;
    width: 85px;
    margin: 10px auto 0 auto;
    padding: 6px 0;
    font-size: 15px;
    border: 1px solid #371821;
    border-radius: 3px;
}

.orders-cards-container .divider{
    width: 100%;
}

/* Media Queries */


@media (max-width: 1050px) {

    .order-card{
        gap: 10px;
    }

    .order-card-date{
        font-size: 14.5px;
        color: #371821;
    }
    
    .order-card-user-name{
        font-size: 14.5px;
        color: #9d9b9b;
    }
    .items-names-components{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .items-names-components .order-card-item-name{
        font-size: 19.5px;
    }

    .name-price-container .price-quantity-tag, .order-total{
        font-size: 15px;
    }
    
    .items-names-components .order-card-item-components{
        color: #333;
        min-width: 467px;
        font-size: 14.5px;
    }

    .orders-cards-container button{
        width: 80px;
        margin: 10px auto 0 auto;
        padding: 6px 0;
        font-size: 14.5px;
    }
    
}


@media (max-width: 600px) {

    .order-card{
        gap: 8px;
    }

    .order-card-date{
        font-size: 13.5px;
        color: #371821;
    }
    
    .order-card-user-name{
        font-size: 13.5px;
        color: #9d9b9b;
    }

    .items-names-components{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    
    .items-names-components .order-card-item-name{
        color: #371821;
        font-size: 19px;
    }

    .name-price-container .price-quantity-tag, .order-total{
        font-size: 13.5px;
    }
    
    .items-names-components .order-card-item-components{
        color: #333;
        min-width: 435px;
        font-size: 14px;
    }

    .orders-cards-container button{
        width: 75px;
        margin: 10px auto 0 auto;
        padding: 6px 0;
        font-size: 14px;
    }
    
}

@media (max-width: 550px) {

    .order-card{
        gap: 6px;
    }

    .order-card-date{
        font-size: 12.7px;
        color: #371821;
    }
    
    .order-card-user-name{
        font-size: 12.7px;
        color: #9d9b9b;
    }

    .items-names-components{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    
    .items-names-components .order-card-item-name{
        color: #371821;
        font-size: 18.5px;
    }

    .name-price-container .price-quantity-tag, .order-total{
        font-size: 12.7px;
    }
    
    .items-names-components .order-card-item-components{
        color: #333;
        min-width: 405px;
        font-size: 13.5px;
    }

    .orders-cards-container button{
        width: 70px;
        margin: 10px auto 0 auto;
        padding: 6px 0;
        font-size: 13.5px;
    }
}

@media (max-width: 450px) {

    .order-card{
        gap: 5px;
    }

    .order-card-date{
        font-size: 12.2px;
        color: #371821;
    }
    
    .order-card-user-name{
        font-size: 12.2px;
    }

    .items-names-components{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    
    .items-names-components .order-card-item-name{
        color: #371821;
        font-size: 18px;
    }

    .name-price-container .price-quantity-tag, .order-total{
        font-size: 12.2px;
    }
    
    .items-names-components .order-card-item-components{
        color: #333;
        min-width: 370px;
        font-size: 13.3px;
    }

    .orders-cards-container button{
        width: 65px;
        margin: 8px auto 0 auto;
        padding: 6px 0;
        font-size: 13.3px;
    }
}