.profile-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Navbar */

 .profile-navbar-container{
    position: sticky;
    width: 100%;
    padding: 20px;
}

/* Content */

.profile-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100%;
    gap: 20px;
}

.profile-content p{
    margin: 0
}

.profile-content-header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

/* Information */

.profile-content{
    display: flex;
    flex-direction: column;   
}

.profile-content-information{
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 30px 90px;
    gap: 25px;
}

.profile-content-tag{
    font-size: 15px;
}

.profile-content-data{
    font-size: 18px;
    color: #371821;
}

.information-edit-input{
    color: #371821;
    font-size: 18px;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000;
}

/* Edit Save */

.edit-save-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn{
    color: #371821;
    margin: 0;
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
}

.edit-save-container button{
    background-color: #DC952F;
    color: #371821;
    font-size: 16px;
    border: 1px solid #DC952F;
    border-radius: 3px;
    padding: 5px;
}

.delete-btn{
    color: #da1500;
    
}

/* Media Queries */

@media (max-width: 1600px) {

    .profile-navbar-container .navbar-icons{
        font-size: 40px;
    }
    
}

@media (max-width: 1050px) {

    .profile-navbar-container .navbar-icons{
        font-size: 37px;
    }

    .profile-content-container{
        padding-top: 13px;
        gap: 16px;
    }

    .profile-content-information{
        padding: 30px 85px;
        gap: 25px;
    }

    .profile-content-tag{
        font-size: 14.9px;
    }

    .profile-content-data{
        font-size: 17.9px;
    }

    .information-edit-input{
        font-size: 17.9px;
    }

    .edit-btn{
        font-size: 15px;
    }

    .edit-save-container button{
        font-size: 16px;
        padding: 5px;
    }
    
}

@media (max-width: 850px) {

    .profile-navbar-container .navbar-icons{
        font-size: 37px;
    }

    .profile-content-container{
        padding-top: 12px;
        gap: 15px;
    }

    .profile-content-information{
        padding: 15px 70px;
        gap: 22px;
    }

    .profile-content-tag{
        font-size: 14.7px;
    }

    .profile-content-data{
        font-size: 17.7px;
    }

    .information-edit-input{
        font-size: 17.7px;
    }

    .edit-btn{
        font-size: 14.5px;
    }

    .edit-save-container button{
        font-size: 15.5px;
        padding: 5px;
    }
    
}

@media (max-width: 750px) {

    .profile-navbar-container .navbar-icons{
        font-size: 30px;
    }

    .profile-content-container{
        padding-top: 10px;
        gap: 10px;
    }

    .profile-content-information{
        padding: 15px 70px;
        gap: 22px;
    }

    .profile-content-tag{
        font-size: 14.7px;
    }

    .profile-content-data{
        font-size: 17.7px;
    }

    .information-edit-input{
        font-size: 17.7px;
    }

    .edit-btn{
        font-size: 14.5px;
    }

    .edit-save-container button{
        font-size: 15.5px;
        padding: 5px;
    }

}

@media (max-width: 600px) {

    .profile-navbar-container .navbar-icons{
        font-size: 25px;
    }

    .profile-content-container{
        padding-top: 0px;
        gap: 10px;
    }

    .profile-content-information{
        padding: 15px 70px;
        gap: 22px;
    }

    .profile-content-tag{
        font-size: 14px;
    }

    .profile-content-data{
        font-size: 17px;
    }

    .information-edit-input{
        font-size: 17px;
    }

    .edit-btn{
        font-size: 14px;
    }

    .edit-save-container button{
        font-size: 15px;
        padding: 5px;
    }
}

@media (max-width: 500px) {

    .profile-navbar-container .navbar-icons{
        font-size: 22px;
    }

    .profile-content-container{
        gap: 8px;
    }

    .profile-content-information{
        padding: 15px 60px;
        gap: 20px;
    }

    .profile-content-tag{
        font-size: 13.5px;
    }

    .profile-content-data{
        font-size: 16.5px;
    }

    .information-edit-input{
        font-size: 16.5px;
    }

    .edit-btn{
        font-size: 13.5px;
    }

    .edit-save-container button{
        font-size: 14.5px;
        padding: 5px;
    }

}





