.reset-password-form-container, .adress-number-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 312px;
    min-height: 838px;
}

.adress-number-form-container{
    display: flex;
    flex-direction: column;
    
}

.welcome-message{
    color:#371821;
    font-family: 'Satisfy', cursive;
    font-size: 28px;
    margin: 0 0 15px 0;
}

.reset-password-form, .adress-number-form{
    font-size: 14px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 320px;
    padding: 0 1.25rem 1rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-password-form-header, .adress-number-form-header{
    color:#DC952F;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
}

.reset-password-form .form-label, .adress-number-form .form-label{
    font-size:17px
}

.reset-password-form .form-btn, .adress-number-form .form-btn{
    margin-top: 10px;
    background-color:#371821;
    width: 110px
}

.reset-password-form .form-btn:hover, .adress-number-form .form-btn:hover {
    background-color: #000000;
}

.reset-password-navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
}

.link-expired{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.link-expired a{
    color:#DC952F;
    text-decoration: underline;
}

.reset-password-form-container .input-box, .adress-number-form-container .input-box{
    text-align: center;
}

.welcome-message{
    color:#371821;
    font-family: 'Satisfy', cursive;
    font-size: 28px;
    margin: 0 0 15px 0;
}

/* Media Queries */

@media (max-width: 660px) {
    
    .welcome-message{
        font-size: 20px;
        margin: 0 0 9px 0;
    }

    .reset-password-form, .adress-number-form{
        font-size: 14px;
        width: 250px;
        padding: 0 1.20rem .8rem;
    }

    .reset-password-form-header, .adress-number-form-header{
        font-size: 18px;
    }

    .reset-password-form .form-label, .adress-number-form .form-label{
        font-size:13.5px
    }

    .reset-password-login-button-div{
        margin-right:20px;
        
    }

    .reset-password-form .form-btn, .adress-number-form .form-btn{
        width: 105px;
        font-size: 13px;
    }
}

@media (max-height: 775px) {

    .welcome-message{
        font-size: 20px;
        margin: 0 0 9px 0;
    }
    
    .reset-password-form, .adress-number-form{
        font-size: 12px;
        width: 220px;
        padding: 0 1.20rem .8rem ;
    }

    .reset-password-form-header, .adress-number-form-header{
        font-size: 18px;
        margin-bottom: 8px;
    }

    .reset-password-form .form-label, .adress-number-form .form-label{
        font-size: 13.5px;
    }


    .reset-password-login-button-div{
        margin-right: 18px;
    }

    .reset-password-navbar-text{
        font-size: 15px;
    }

    .reset-password-form .form-btn, .adress-number-form .form-btn{
        width: 105px;
        font-size: 13px;
    }
}

@media (max-width: 520px) {

    .welcome-message{
        font-size: 19.5px;
        margin: 0 0 8px 0;
    }

    .reset-password-form, .adress-number-form{
        font-size: 12px;
        width: 230px;
        padding: 0 1rem .7rem;
    }

    .reset-password-form-header, .adress-number-form-header{
        font-size: 17.5px;
        margin-bottom: 7px;
    }

    .reset-password-form .form-label, .adress-number-form .form-label{
        font-size: 13.5px;
    }

    .reset-password-form .form-btn, .adress-number-form .form-btn{
        width: 95px;
        font-size: 13px;
    }

}

@media (max-width: 400px) {

    .welcome-message{
        font-size: 19px;
        margin: 0 0 8px 0;
    }

    .reset-password-form, .adress-number-form{
        font-size: 12px;
        width: 220px;
        padding: 0 .9rem .6rem ;
    }

    .reset-password-form-header, .adress-number-form-header{
        font-size: 17px;
        margin-bottom: 6px;
    }

    .reset-password-form .form-label, .adress-number-form .form-label{
        font-size: 13.5px;
    }

    .reset-password-form .form-btn, .adress-number-form .form-btn{
        width: 95px;
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .reset-password-form, .adress-number-form{
        width: 210px;
        height: 270px;
    }
    
    .reset-password-form-header, .adress-number-form-header{
        font-size: 17px;
        margin-bottom: 10px;
    }
    
    .reset-password-form .form-label, .adress-number-form .form-label{
        font-size: 12.5px;
    }
    

    .reset-password-form .form-btn, .adress-number-form .form-btn{
        width: 85px;
        font-size: 13px;
    }
}




