/* #DC952F #371821 */

.filter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    width: 250px;
    border-right: 1px solid #c5c0c0;
}

.filter-container p{
    font-size: 20px;
    font-weight: bold;
    color: #371821;
}

.filter{
    display: flex;
    align-items: center;
}

.filter span{
    font-weight: bold;
    color: #371821;
    font-size: 25px;
}

.filter span:hover{
    cursor: pointer;
}

.items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.items-container button{
    background-color: #FFFFFF;
    height: 30px;
    font-size: 14.5px;
    border-radius: 5px;
    border: none;
    transition: background-color .3s;
    text-decoration: underline;
}

.items-container button:hover{
    cursor: pointer;
    background-color: #DC952F;
    text-decoration: none;
    transition: text-decoration .3s;
}

.items-container button:focus {
    background-color: #DC952F;
    text-decoration: none;
    transition: text-decoration .3s;
}


/* Media Queries */

@media (max-width: 1600px){

    .filter-container{
        width: 230px;
    }
}

@media (max-width: 1300px){

    .filter-container{
        width: 200px;
    }
   
}

@media (max-width: 850px){

    .filter-container{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #c5c0c0;
        align-items: center;
        gap: 3px;
    }

    .filter {
        margin-top: 3px ;
    }
    
    .filter-container p{
        margin: 0;
        font-size: 18px;
    }
    
    .items-container {
        flex-direction: row;
        margin-bottom: 3px;
    }
}


@media (max-width: 570px){

    .filter-container{
        gap: 1px;
    }
    
    .filter-container p{
        font-size: 16px;
    }
    
    .items-container{
        gap: 1px;
    }

    .items-container button{
        height: 25px;
        font-size: 13px;
    }

    .filter span{
        font-size: 22px;
    }
}

@media (max-width: 450px) {
    
    .filter-container{
        gap: 0;
    }

    .filter {
        margin-top: 2px ;
    }
    
    .filter-container p{
        font-size: 16px;
    }
    
    .items-container{
        margin-bottom: 2px ;
    }

    .items-container button{
        height: 22px;
        font-size: 13px;
    }
}

@media (max-width: 350px) {

    .filter-container p{
        font-size: 14px;
    }
    
    .items-container button{
        height: 20px;
        font-size: 12px;
    }

    .filter span{
        font-size: 18px;
    }
}