.forgot-password-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 350px;
    min-height: 807px;
}

.forgot-password-form{
    font-size: 14px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 350px;
    height: 290px;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot-password-form-header{
    color:#DC952F;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
}

.forgot-password-form .form-label{
    font-size:17px
}

.forgot-password-form .form-btn{
    margin-top: 10px;
    background-color:#371821;
    width: 110px
}

.forgot-password-form .form-btn:hover {
    background-color: #000000;
}

.forgot-password-navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
    min-width: 340px;
    min-height: 40px;
}

.forgot-password-login-button-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:50px;
    
}

.forgot-password-navbar-text{
    color:#000000;
    margin-top: 30px;
    padding: 10px;
    font-size:17px;
    border: 1px solid #000000;
    border-radius: 3px;
    text-decoration: none
}


.forgot-password-navbar-text:hover{
    color:#DC952F;
    background-color: #371821 ;
    
}

.resend-email-text{
    text-decoration: underline;
    margin-top: 10px;
    padding:10px;
}

.resend-email-text:hover{
    color:#DC952F;
    cursor: pointer
}

/* Media Queries */

@media (max-width: 660px) {

    .forgot-password-form{
        font-size: 14px;
        width: 280px;
        height: 260px;
    }

    .forgot-password-form-header{
        font-size: 18px;
    }

    .forgot-password-form .form-label{
        font-size:13.5px
    }

    .resend-email-text{
        font-size: 12.5px;
    }

    .forgot-password-login-button-div{
        margin-right:20px;
        
    }

    .forgot-password-form .form-btn{
        width: 105px;
        font-size: 13px;
    }
}

@media (max-height: 775px) {
    
    .forgot-password-form{
        font-size: 12px;
        width: 250px;
        height: 240px;
    }

    .forgot-password-form-header{
        font-size: 19px;
        margin-bottom: 10px;
    }

    .forgot-password-form .form-label{
        font-size: 13.5px;
    }

    .resend-email-text{
        font-size: 11.5px;
        margin-top: 5px;
    }

    .forgot-password-login-button-div{
        margin-right: 18px;
    }

    .forgot-password-navbar-text{
        font-size:15px;
    }

    .forgot-password-form .form-btn{
        width: 105px;
        font-size: 13px;
    }
}

@media (max-width: 520px) {

    .forgot-password-form{
        font-size: 12px;
        width: 270px;
        height: 230px;
    }

    .forgot-password-form-header{
        font-size: 19px;
        margin-bottom: 10px;
    }

    .forgot-password-form .form-label{
        font-size: 13.5px;
    }

    .resend-email-text{
        font-size: 11.5px;
        margin-top: 5px;
    }

    .forgot-password-login-button-div{
        margin-right: 18px;
    }

    .forgot-password-navbar-text{
        font-size:14px;
    }

    .forgot-password-form .form-btn{
        width: 95px;
        font-size: 13px;
    }

}

@media (max-width: 400px) {

    .forgot-password-form{
        font-size: 12px;
        width: 265px;
        height: 240px;
    }

    .forgot-password-form-header{
        font-size: 19px;
        margin-bottom: 10px;
    }

    .forgot-password-form .form-label{
        font-size: 13.5px;
    }

    .resend-email-text{
        font-size: 11.5px;
        margin-top: 5px;
    }

    .forgot-password-login-button-div{
        margin-right: 18px;
    }

    .forgot-password-navbar-text{
        font-size:14px;
    }

    .forgot-password-form .form-btn{
        width: 95px;
        font-size: 13px;
    }
}

@media (max-width: 350px) {

    .forgot-password-form{
        width: 250px;
        height: 210px;
    }
    
    .forgot-password-form-header{
        font-size: 17px;
        margin-bottom: 10px;
    }
    
    .forgot-password-form .form-label{
        font-size: 12.5px;
    }
    
    .resend-email-text{
        font-size: 10px;
        margin-top: 5px;
    }
    
    .forgot-password-login-button-div{
        margin-right: 18px;
    }
    
    .forgot-password-navbar-text{
        font-size: 13px;
    }
    
    .forgot-password-form .form-btn{
        width: 85px;
        font-size: 13px;
    }
}
