/* #DC952F #371821 */
.home-page-container{
    height: 100vh;
    min-width: 380px;
}

/* Loyalty Program Banner */

.loyalty-program-banner{
    margin-top: 150px;
    background-color: #f0f0f0;
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loyalty-program-banner a{
    text-decoration: underline;
    color:#000000;
}

/* Catgory */

.category-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    gap:50px;
    border-bottom: 1px solid #c5c0c0;
}

.category-sweet-salty-btn{
    font-family: 'Questrial', sans-serif;
    background-color: #371821;
    color: #ffffff;
    width: 120px;
    height: 50px;
    font-size: 21px;
    border: none;
    border-radius: 4px;
    letter-spacing: 1px;
    transition: background-color .3s;
}

.category-sweet-salty-btn:hover{
    cursor: pointer;
    color: #371821;
    background-color: #FFFFFF;
    border: 1px solid #371821;
}

/* Filter and menu container */

.filter-menu-container{
    display: flex;
    height: 100%;
}

.menu-container{
    width:100%;
    height: 100%;
    display: flex;
    justify-content:center;
}

.menu-content{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    justify-content:center;
    gap: 30px;
    width: 100% ;
    height: 100%;
}

/* Media Queries */

@media (max-width: 1050px){

    .loyalty-program-banner{
        margin-top: 150px;
    }
}

@media (max-width: 570px){
    
    .loyalty-program-banner{
        margin-top: 130px;
        height: 35px;
    }
    
    .loyalty-program-banner a{
       font-size: 14px;
    }
}

@media (max-width: 450px) {

    .loyalty-program-banner{
        margin-top: 110px;
    }

    .loyalty-program-banner a{
        font-size: 11px;
     }
}

@media (max-width: 350px) {

   
}





