/* #DC952F #371821 */
.home-page-container{
    height: 100vh;
}

/* Loyalty Program Banner */

.loyalty-program-banner{
    background-color: #000000;
    width:100vw;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.loyalty-program-banner a{
    text-decoration: underline;
    color:#FFFFFF;
   
}

/* Catgory */

.category-container{
    background-color: #DC952F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
    gap:50px;
    border-bottom: 1px solid #c5c0c0;
}

.category-sweet-salty-btn{
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
    background-color: #FFFFFF;
    color: #000000;
    width: 120px;
    height: 50px;
    font-size: 21px;
    border: 2px solid #000000;
    border-radius: 10px;
    letter-spacing: 1px;
    transition: scale 0.3s;
}

.category-sweet-salty-btn:hover{
    cursor: pointer;
    scale: 1.1;
}

/* Filter and menu container */
.filter-menu-container{
    height: 100%;
}



