/* #DC952F #371821 */
.home-page-container{
    height: 100vh;
}

/* Loyalty Program Banner */

.loyalty-program-banner{
    background-color: #000000;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.loyalty-program-banner a{
    text-decoration: underline;
    color:#FFFFFF;
   
}

/* Catgory */

.category-container{
    background-color: #DC952F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    gap:50px;
}

.category-sweet-salty-btn{
    font-family: 'Questrial', sans-serif;
    font-weight: 400;
    background-color: #000000;
    color: #FFFFFF;
    width: 200px;
    height: 60px;
    font-size: 24px;
    border: none;
    border-radius: 40px;
    transition: scale 0.3s;
}

.category-sweet-salty-btn:hover{
    cursor: pointer;
    scale: 1.1;
}



