/* #DC952F #371821 */
.navbar-container{
    display: flex;
    height: 150px;
}

/* Logo */

.logo-img-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:390px
}

.navbar-container .logo-img{
    border-style:none;
}

/* Navbar Information */

.navbar-information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 379px;
    gap: 25px;
}

.navbar-information a{
    color: #371821;
    display: inline-block;
    position: relative;
    padding: 7px;
    font-size: 26px;
    letter-spacing: 2px;
}

.navbar-information a:hover {
    cursor: pointer;
   }
  
.navbar-information a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DC952F;
    transform-origin: bottom right;
    transition: transform .3s ease-out;
  }

  .navbar-information a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/* Navbar Elements */

.navbar-elements-div{
    display: flex;
    width:100%
}

.navbar-search-bar-container{
    width: 1377px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width:200px;
    height:30px;
    margin-right: 10px;
    border: 2px solid #371821;
    border-radius: 5px;
    text-align: center; 
    font-size: 14.5px;
}

/* Navbar Icons */

.navbar-icons-container{
    width: 459px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.navbar-icons{
    color:#371821;
    font-size: 40px;
}

.navbar-icons-container .form-btn{
    background-color: #FFFFFF;
    font-size:19px;
    width: 85px;
    height: 30px;
    padding:0;
    margin:auto 100px auto 0;
    border: 2px solid #371821;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.navbar-icons-container .form-btn a{
    text-decoration: none;
    color:#371821;
}

.navbar-icons-container .form-btn:hover{
    border: none;
    background-color: #000000;
}

.navbar-icons-container a:hover{
    color: #FFFFFF;
}