/* #DC952F #371821 */
.navbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  
}


/* Navbar Start */
.navbar-start{
    display: flex;
    position: absolute;
    width:360px;
    left:150px;
    gap: 30px;
}

.navbar-information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 379px;
    gap: 25px;
}

.navbar-information a{
    color: #371821;
    display: inline-block;
    position: relative;
    padding: 7px;
    font-size: 26px;
    letter-spacing: 2px;
}

.navbar-information a:hover {
    cursor: pointer;
   }
  
.navbar-information a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DC952F;
    transform-origin: bottom right;
    transition: transform .3s ease-out;
  }

  .navbar-information a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/* Search Bar */

.navbar-search-bar-container{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width:200px;
    height:30px;
    border: 2px solid #371821;
    border-radius: 5px;
    text-align: center; 
    font-size: 14.5px;
}

/* Navbar Icons */

.navbar-icons-container{
    position:absolute;
    right:150px;
    width: 186px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-icons{
    color:#371821;
    font-size: 40px;
}

.navbar-icons-container .form-btn{
    background-color: #FFFFFF;
    color:#371821;
    font-size:19px;
    height: 30px;
    width: 85px;
    padding:0;
    margin:auto ;
    border: 2px solid #371821;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.navbar-icons-container .form-btn a{
   
    text-decoration: none;
}

.navbar-icons-container .form-btn:hover{
    cursor: pointer;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
}
