/* #DC952F #371821 */

.navbar-container{
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}


/* Navbar Start */
.navbar-start{
    display: flex;
    position: absolute;
    width:360px;
    left:150px;
    gap: 30px;
}

.navbar-information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 379px;
    gap: 25px;
}

.navbar-information a{
    color: #371821;
    display: inline-block;
    position: relative;
    padding: 7px;
    font-size: 26px;
    letter-spacing: 2px;
}

.navbar-information a:hover {
    cursor: pointer;
   }
  
.navbar-information a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DC952F;
    transform-origin: bottom right;
    transition: transform .3s ease-out;
  }

  .navbar-information a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


/* Search Bar */

.navbar-search-bar-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    width:200px;
    height:30px;
    border: 2px solid #371821;
    border-radius: 5px;
    text-align: center; 
    font-size: 14.5px;
}

/* Navbar Icons */

.navbar-icons-container{
    position:absolute;
    right:150px;
    width: 186px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-icons{
    color:#371821;
    font-size: 40px;
    transition: color .3s;
}

.navbar-icons:hover{
    cursor: pointer;
    color:#DC952F;
}

.navbar-btn{
    background-color: #FFFFFF;
    color:#371821;
    font-size:19px;
    height: 30px;
    width: 85px;
    padding:0;
    margin:auto ;
    border: 2px solid #371821;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.navbar-btn-link{
    text-decoration: none;
}

.navbar-btn:hover{
    cursor: pointer;
    background-color: #371821;
    color: #FFFFFF;
    border: none;
}

/* Hamburger Menu */

.hamburger-menu{
    display: none;
    transition: color 0.3s ease;
}

.open{
    color: #DC952F;
}

.hamburger-menu-navbar-container{
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
    height: 150px;
    gap: 60px;
}

.hamburger-menu-navbar-elements{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 70px;
}

.hamburger-menu-navbar-elements a{
    position: absolute;
    left: 80px
  }

.hamburger-menu-items .search-bar{
    width:200px;
    height:30px;
    border: 2px solid #371821;
    border-radius: 5px;
    text-align: center; 
    font-size: 14.5px;
}

.hamburger-menu-information{
    color: #371821;
    display: inline-block;
    position: relative;
    font-size: 30px;
    letter-spacing: 2px;
}


.hamburger-menu-information:hover {
    cursor: pointer;
   }
  
.hamburger-menu-information::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DC952F;
    transform-origin: bottom right;
    transition: transform .3s ease-out;
}

.hamburger-menu-information:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hamburger-menu-navbar-icons-container{
    position: absolute;
    display: flex;
    right: 80px;
    justify-content:center;
    align-items: center;
    gap:5px
}

.hamburger-menu-items{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left:-100%;
    gap:10px;
    height: 100%;
    flex-direction: column;
    transition: .3s;
    width: 200px;
}

.hamburger-menu-items.active{
    left: 0;
}

/* Media Queries */

@media (max-width: 1300px) {

    .navbar-start{
        left:100px;
        gap: 20px;
    }

    .navbar-information{
        gap: 15px;
    }
    
    .navbar-information a{
        color: #371821;
        display: flex;
        position: relative;
        padding: 7px;
        font-size: 23px;
    }

    .navbar-start .img{
        width: 113px
    }

    .navbar-icons-container{
        right:100px;
    }

    .navbar-icons{
        font-size:37px;
    }

    .search-bar{
        width:190px;
        height:26px;
    }
}

@media (max-width: 1200px) {

    .navbar-start{
        left:70px;
        gap: 20px;
    }

    .navbar-information{
        justify-content: flex-start;
        gap: 5px;
    }
    
    .navbar-information a{
        color: #371821;
        display: flex;
        position: relative;
        padding: 7px;
        font-size: 21px;
    }

    .navbar-start .img{
        width: 110px
    }

    .navbar-icons-container{
        right:70px;
    }

    .navbar-icons{
        font-size:33px;
    }

    .search-bar{
        width:190px;
        height:26px;
    }
    
}

@media (max-width: 1000px) {

    .hamburger-menu{
        display: block;
    }

    .navbar-information{
        gap: 15px;
    }
    
    .hamburger-menu-information{
        color: #371821;
        display: flex;
        position: relative;
        padding: 7px;
        font-size: 21px;
    }

    .hamburger-menu-navbar-elements .img{
        width: 110px
    }

    .navbar-icons-container .active{
        left:0;
    }

    .navbar-icons{
        font-size:33px;
    }

    .search-bar{
        width:190px;
        height:26px;
    }

    

}

@media (max-width: 520px) {

}

@media (max-width: 300px) {

} 

