.reset-password-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
}

.reset-password-form{
    font-size: 14px;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 380px;
    height: 370px;
    padding: 0 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-password-form-header{
    color:#DC952F;
    padding: 10px;
    border-radius: 5px;
    font-size: 25px;
}

.reset-password-form .form-label{
    font-size:17px
}

.reset-password-form .form-btn{
    margin-top: 10px;
    background-color:#371821;
    width: 110px
}

.reset-password-form .form-btn:hover {
    background-color: #000000;
}

.reset-password-navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 40px;
}


